<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tests">
	<!-- 
		parameterType中的值是mybatis配置文件中配置的别名 
		parameterType该属性也是可以省略不写
	-->
	<insert id="insertUsers" parameterType="Users">
		insert into users(name,age,score) values(#{name},#{age},#{score})
	</insert>
</mapper>