
/*用户注册页面*/

/*设置网页的内外边距*/
.bod{
	margin:0px;padding:0px;
}

/*设置第一个盒子的背景图片和高度宽度*/
.box{
	background: url(/bookweb/images/registinfo.jpg) no-repeat;
	height:100%;width:100%;
}

/*设置注册盒子的样式*/
.box1{
	border: 1px solid #d0d0d0;height:500px;width:650px;background-color: #fff;float:left;
	margin:70px 0px 0px -440px;border-top:0px;border-right:0px;
}

/*设置登录样式*/
.box2{
	border: 1px solid #d0d0d0;background-color: #fff;height:500px;
	width:300px;float:left;margin:69px 0px 0px 0px;border-left:1px dashed #d0d0d0;
}
.input{
	float:left;margin:50px 0px 0px 48px;width:200px;height:40px;border-radius:9px;
	border:0px solid #d0d0d0;
	background-color:#62B0FF;color:#fff;font-size: 15px;
}

/*设置用户注册盒子样式*/
.box3{
	border: 1px solid #d0d0d0;background-color: #fff;height:50px;width:160px;
	float:left;margin:19px 0px 0px 70px;border-bottom: 0px;
}
.span{
	font-size: 20px;color:#28c873;float:left;padding-top:10px;padding-left:29px;
}

/*设置用户名登录密码文本框样式*/
.input1{
	float:left;width:280px;height:42px;border:1px solid #d0d0d0;border-left:0px;margin:30px 0px 0px 0px;font-size: 15px;
}
.span1{
	float:left;margin:30px 0px 0px 80px;width:40px;height:40px;text-align:center;border:1px solid #d0d0d0;
	border-right: 0px;
}

/*设置邮箱框样式*/
.input2{
	float:left;width:200px;height:42px;border:1px solid #d0d0d0;border-left:0px;margin:30px 0px 0px 0px;font-size: 15px;
}
.span2{
	float:left;margin:30px 0px 0px 80px;width:40px;height:40px;text-align:center;border:1px solid #d0d0d0;
	border-right: 0px;
}
.img1{
	padding-top:12px;
}

/*注册按钮*/
.regist{
	float:left;border:0px solid #d0d0d0;margin:35px 0px 0px 80px;width:322px;height:40px;border-radius:9px;
	background-color:#62B0FF;color:#fff;font-size: 15px;
}

/*注册图片样式*/
.img3{
	float:left;width:60px;height:30px;margin:28px 0px 0px 340px;
}

/*给显示错误信息文本添加样式*/
.error{
	float:left;margin:-32px 0px 0px 410;font-family:宋体;font-size:13px;color:red;
}
.error1{
	position: absolute;top:478px;left:263px;font-family:宋体;font-size:13px;color:red;
}

/*验证码样式*/
.checkbox{
	border:solid 1px #d0d0d0;width:80px;height:40px;float:left;margin-top:30px;border-left:0px;
}

/*超链接换一张样式*/
.aReplace{
	text-decoration:none;font-size:15px;color:#666;float:left;margin:-17px 0px 0px 410px;
}

/*注册成功后的样式*/
.addspan{
	float:left;font-family:宋体;font-size:20px;color:#28c873;margin:20px 0px 0px 0px;
}
.denglu{
	float:left;border-radius:10px;width:180px;height:35px;
	color:#fff;background:#28c873;border:0px;margin:40px 0px 0px -197px;
}
.mings{
	float:left;margin:3px 0px 0px 200px;height:50px;width:60px;
}
.asp{
	text-decoration: none;
}
.ssmdiv{
	margin-top:190px;
}

/*js 登录注册 鼠标移入移除 为其添加样式*/
.input1js{
	background: #55abe8;
	cursor:pointer;/*改变鼠标样式 移入变成一只手*/
}
.replace{
	text-decoration:underline;color:#28c873
}
.gaibian{
	background:#55abe8;
	cursor:pointer;/*改变鼠标样式 移入变成一只手*/
}
